@use '../../_variables.scss' as *;


.container {
  display: flex;
}

.sidebar {
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: #222935;
  font-family: $font_family;
  width: 18vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-out;

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  h4 {
    color: white;
  }
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.toggleButton {
  background: #222935;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 21.5vw;
  transition: left 0.5s ease-out;
}

.sidebar.closed ~ .toggleButton {
  left: 0;
}

.sidebar__nav {
  width: 14vw;

  ul {
    padding-left: 5%;
  }
}

.sidebar__nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5vw;
    color: #667081;
    transition: color 0.3s;

    &:hover {
      color: #26C17E;
    }

    svg {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    span {
      flex-grow: 1;
    }

    @media (max-width: 600px) {
      justify-content: center;

      svg {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }

  .active {
    color: #26C17E;
  }
}

.goBackButton {
  display: flex;
  align-items: center;
  background: #222935;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10vh;
  padding: 10px;
  font-size: 1.5vw;
  width: 14vw;
  align-items: center;
  text-align: center;
    
  &:hover {
    background-color:#26C17E;
    border-radius: 50px;
  }

  svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  @media (max-width: 600px) {
    svg {
      margin-right: 0;
    }

    span {
      display: none;
    }

    width: 52px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 50px;
  }

  .sidebar__profile img {
    width: 50px;
    height: 50px;
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }

  .sidebar__profile h4 {
    display: none;
  }

  .sidebar__nav {
    width: 50px;
    margin-top:100px;
  }

  .sidebar__nav_list {
    align-items: center;
  }

  .toggleButton {
    left: 65px;
  }

  .goBackButton {
    margin-top:20vh;
  }
}
