.backToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #222935; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
  
    &.show {
      opacity: 1;
    }
  }
  